@model CICLatest.Models.Cicf7Model
<h4 class="text-center">Type of Application</h4>



    <div class="cic-application-wrapper">

        <div class="cic-form-block">
            <div class="cic-logo-upload">
                <div class="col-ting">
                    <div class="control-group file-upload" id="file-upload1">
                        <div class="image-box text-center">
                            <p>Company<br />Logo</p>
                            <img src="" alt="">
                        </div>
                        <div class="controls" style="display: none;">
                            <input type="file" name="contact_image_1" />
                        </div>
                    </div>
                </div>
                <h3>My Company</h3>
            </div>
        </div>

        <div class="cic-fielset-inner">
            <div class="fieldset">
                <div class="title">
                    <strong>Type of Application <span class="asterisk">*</span></strong>

                </div>
                <div class="form-fields">
                    <ul>
                        <li>
                            <label class="custom-radio">
                                New Application for Registration
                                <input type="radio" asp-for="@Model.App.AppType" checked="checked" value="NewApplication" onclick="handleClick(this);" />
                              
                                <span class="checkmark"></span>
                            </label>
                        </li>

                        <li>
                            <label class="custom-radio">
                                Registration Renewal
                                <input type="radio" asp-for="@Model.App.AppType"  value="Renewal" onclick="handleClick(this);" />
                                <span class="checkmark"></span>
                            </label>
                        </li>
                        <li>
                            <label class="custom-radio">
                                Upgrading
                                <input type="radio" asp-for="@Model.App.AppType" value="Upgrading" onclick="handleClick(this);" />
                                <span class="checkmark"></span>
                            </label>
                        </li>
                    </ul>

                </div>
                @Html.ValidationMessageFor(m => m.App.AppType, "", new { @class = "text-danger" })
                <div class="divider"></div>
            </div>

            <div class="fieldset">
                <div class="row">
                    <div class="col-lg form-group">
                        <label for="fname">Association Name <span class="asterisk">*</span></label>
                      
                        <select asp-for="@Model.App.AssociationName" class="custom-select" id="AssociationId" asp-items="@(new SelectList(@ViewBag.ListofAssociation, "AssociationName", "AssociationName1"))"></select>
                        @*<span asp-validation-for="@Model.App.AssociationName" class="text-danger">@ViewBag.AssociationName</span>*@
                        @*@Html.ValidationMessageFor(m => m.App.AssociationName, "", new { @class = "text-danger" })*@
                        <span asp-validation-for="@Model.App.AssociationName" class="text-danger"></span>

                    </div>
                    <div class="col-lg form-group">
                        <label for="lname">Name of Authorised Officer <span class="asterisk">*</span></label>
                        <input asp-for="@Model.App.AuthorisedOfficerName" class="form-control" placeholder="Name of Authorised Officer" type="text" />
                        <span asp-validation-for="@Model.App.AuthorisedOfficerName" class="text-danger"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg form-group mb0">
                        <div class="Attachmentlabel">Association Certificate Attachment <span class="asterisk">*</span></div>
                        <div class="CertificateAttachment">
                            <span id="filename">Drag & drop your file here or Browse &nbsp; </span>
                            <label for="fileAssociate7">
                                <input asp-for="@Model.App.AssociationCertificateAttachment" type="file" id="fileAssociate7" />
                            </label>


                            @if (Model.App != null)
                            {
                                if (Model.formval == "Edit")
                                {

                                    <a href="" asp-for="@Model.App.AssociationCertificateName" id="signfile">@Model.App.AssociationCertificateName</a>


                                }
                                else
                                {
                                    <input type="hidden" asp-for="@Model.FirmRegistrationNo" />
                                    <label style="color:darkblue;" asp-for="@Model.App.AssociationCertificateName">@Model.App.AssociationCertificateName</label>

                                }

                            }

                            @if (Model.formval == "Edit")
                            {
                                <input type="hidden" asp-for="@Model.formval" />
                                <input type="hidden" asp-for="@Model.FirmRegistrationNo" />
                                <input type="hidden" asp-for="@Model.PartitionKey" />
                                <input type="hidden" asp-for="@Model.RowKey" />
                                <input type="hidden" asp-for="@Model.ImagePath" id="path" />
                            }


                        </div>
                        <span asp-validation-for="@Model.App.AssociationCertificateAttachment" class="text-danger"></span>
                    </div>
                </div>
            </div>

            @*<input type="hidden" value="type" asp-for="@Model.formval" />*@
            <ul class="cic-form-action-block">
                <li>
                    <button type="submit" asp-route-name="draft" class="default-btn btn-draft">Save as Draft</button>

                </li>
                <li>

                    <button type="submit" class="btn btn-submit" asp-route-next="business" asp-route-name="type">Next</button>
                </li>
            </ul>

        </div>


    </div>

